.section--about-company {
  &--reverse {
    .about-company {
      padding: 196px 0 286px 0;

      &__info__btn {
        display: none;
      }
    }
  }
}

.about-company {

  &__block {
    max-width: 1345px;
    margin: 0 auto;
    display: flex;
    gap: 40px;
    //flex-wrap: wrap;
    width: 100%;

    //&--reverse {
    //  flex-direction: row-reverse;
    //}
  }

  &__photo {
    max-width: 520px;
    min-height: 510px;
  }

  &__img {
    display: flex;
    object-fit: cover;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    &__btn {
      display: grid;
      height: 100%;
      justify-content: flex-start;
      align-items: end;

      .btn {
        width: 158px;
        height: 61px;
      }
    }
  }

  &__title {
  }

  &__desc {
  }

  &__check-list {
  }
}