.section--admission {
  background-color: $light-back;
}

.admission {
  &__container {
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding: 94px 0 103px 0;
  }

  &__photo {
    background: white;
    height: 428px;

    &__img {
      object-fit: cover;
    }
  }

  &__title {
  }

  &__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__requirements {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: $white;
    //min-height: 580px;
    padding: 30px;

    &__title {
    }

    &__lists {
      padding-left: 40px;
    }

    &__list {
      list-style-type: disc;
    }

    &__table {
      &_th {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1px;

        & div {
          background: $gray;
          padding: 10px;
          min-height: 40px;

          & p {
            color: $white;

          }
        }
      }

      &_td {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        & div {
          padding: 10px;
          border: 1px solid $gray;
          min-height: 40px;

          & p {

          }
        }
      }
    }


  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 30px;

  }

  &__foundation {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    background: $white;

    &__title {
    }

    &__inner {
    }
  }

  &__undergraduate {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    background: $white;

    &__title {
    }

    &__inner {
    }

    &__lists {
      padding-left: 40px;
    }

    &__list {
      list-style-type: disc;
    }
  }
}