.crumbs {
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.crumb {
  //position: relative;
  //&:not(:first-child){
  //  padding-left: 20px;
  //}

  &:not(:last-child){
    padding-right: 20px;
    border-right: 2px solid $white;
  }

  //&::before {
  //  content: ' ';
  //  position: absolute;
  //  display: block;
  //  width: 2px;
  //  background-color: inherit;
  //  height: 100%;
  //}
}