.form {
  display: grid;
  gap: 20px;
  text-align: center;
  color: inherit;

  &__title {
    color: inherit;
  }

  &__description {
    color: inherit;
  }

  &__input {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 520px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: inherit;

    .label {
      color: inherit;

      &__input {
        color: inherit;

        &_checkbox {
          margin: -17px 20px;
          align-items: center;
          display: flex;
          gap: 10px;
          color: inherit;

          span {
            color: inherit;
          }
        }
      }
    }
  }
}