.info {
  width: 100%;
  min-height: 59px;
  display: flex;
  align-items: center;
  background: $dark-black;

  &__block {
    display: flex;
    justify-content: end;
  }

  &__item {
    @include resize('margin-left', 72, 16, 1);
  }

  &__socials {
    max-width: 118px;
  }
}

