.numerable {
  color: inherit;

  &--theme--primary {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 19px;
    color: inherit;
  }

  &__count {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;

    &-svg {
      position: absolute;
      top: 0;
      left: 0;
    }

    &_num {
      z-index: 1;
      color: $white;
    }
  }

  &__text {
    color: inherit;
  }
}