.section--service {
  background: $light-back
}

.service {
  &__block {
    display: flex;
    gap: 30px;

    justify-content: space-between;
  }

  &__title {
    margin-top: 80px;
  }

  &__lists {
    display: grid;
    grid-template-columns: repeat(3, minmax(245px, 1fr));
    gap: 30px;
  }

  &__list {
    max-width: 245px;
    min-height: 157px;
    gap: 15px;
    display: grid;
  }

  &__left {

  }

  &__right {
    max-width: 1070px;
    width: 100%;
  }

  padding: 80px 0;
}