.section--services {
  padding: 228px 0 251px 0;
}

.services {

  &__item {
    display: grid;
    grid-template-areas: 'a b';
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 154px
    }

    &:nth-child(2n) {
      flex-direction: row-reverse;
      grid-template-areas: 'b a';

      .services__item__number {
        background-color: $logo-color;
      }

      .services__item__right {
        justify-content: end;
      }

      .services__item__left {
        margin: 0 auto;
      }
    }

    &__left {
      grid-area: a;
      display: flex;
      gap: 30px;
      flex-direction: column;

      padding-left: 61px;
      max-width: 520px;
      width: 100%;

      justify-content: center;
      height: 100%;
      //margin: 0 auto;

      &__block {
        display: flex;
        gap: 30px;
        flex-direction: column;
      }
    }

    &__right {
      grid-area: b;
      display: flex;
      justify-content: start;
    }

    &__number {
      background: $line-color;
      color: $white;
      //width: 266px;
      //height: 266px;
      align-items: center;
      justify-content: center;
      text-align: center;
      display: flex;
      padding: 20px;
      position: absolute;
      bottom: 23px;
      left: -200px;
      //position: absolute;
      //left: 73px;
      //border: 10px;
      //bottom: 10px;
    }

    &__photo {
      position: relative;
      width: 520px;
      height: 510px;
      margin-left: 200px;
    }

    &__img {
      object-fit: cover;
    }
  }
}