.section--study-in-country {
  padding: 142px 0 134px 0;
}

.study-in-country {
  position: relative;

  &__bg {
    position: absolute;
    width: 717px;
    height: 732.774px;
    z-index: -1;
    bottom: -50px;
    right: 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__title {
    text-align: center;
  }

  &__adv-des {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  &__adv, &__des {
    gap: 30px;
    display: flex;
    flex-direction: column;
  }

  &__btn-adv {

  }

  &__btn-des {
  }

  &__btn-adv, &__btn-des {
    min-height: 62px;
  }

  &__block {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  &__item {
    &:nth-child(-n+4) {
      grid-column: 1;
    }

    &:nth-child(n+5) {
      grid-column: 2;
      grid-row: n;
    }

    &:nth-child(n+6) {
      grid-column: 2;
      grid-row: 2;
    }

  }

  &__option {
    padding: 50px;
    border: 1px solid $line-color;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}