.tmp_info {
  display: flex;
  align-items: center;
  gap: 10px;

  &__icon {
    width: 32px;
    height: 32px;
  }

  &__desc {
    color: $white;
    font-size: $size-x;
    font-style: normal;
    font-weight: $weight-normal;
    line-height: normal;
  }
}