<div class="cart">
    <div class="cart__item cart__top">
        <img class="cart__image w-h-100" src="https://static.r-express.ru/images/AdobeStock_245480959.jpeg"
             alt="singapur">
    </div>
    <div class="cart__item cart__bottom">
        <div class="cart__maining">
            <div class="cart__title title_light-bold size_4x">Малайзия</div>
            <div class="cart__desc text_normal size_xx">
                Страна с высокими темпами экономического роста и высоким уровнем жизни, но невысокими ценами на обучение
                и
                проживание. Получив высшее образование в Малайзии, вы станете ...
            </div>
        </div>
        <div class="cart__btn">
            @include('../ui/btn.html', {
            "button_text":"Подробнее",
            "classname":"btn--theme--white"
            })
        </div>
    </div>
</div>