<form class="form" action="/" method="post">
    <div class="form__title @title_class">@title</div>
    <div class="form__description @desc_class">@desc</div>

    <div class="form__input">
        @include('../ui/input.html', {
        "placeholder":"Ваше имя",
        "name":"name"
        })
        @include('../ui/input.html', {
        "placeholder":"Ваш номер",
        "name":"phone"
        })

        <label class="label label__input_checkbox">
            <span class="input_checkbox">
                <input class="input input_checkbox" type="checkbox">
            </span>
            <span class="input_checkbox_desc text_normal size_min">Я согласен с тем, что мои данные собираются и будут храниться</span>
        </label>

        @include('../ui/btn.html', {
        "button_text":"Оставить заявку",
        "classname":"btn--theme--primary"
        })
    </div>
</form>