<div class="info">
    <div class="info__block container">
        <div class="info__item info__location">
            @include('./tmp_info.html', {
            "icon": "location",
            "desc": "г. Ташкент, улица Навоий, 65"
            })
        </div>
        <div class="info__item info__phone">
            @include('./tmp_info.html', {
            "icon": "phone",
            "desc": "+998 90 000 11 22"
            })
        </div>
        <div class="info__item info__location">
            @include('./tmp_info.html', {
            "icon": "mail",
            "desc": "info@ustudent.uz"
            })
        </div>
        <div class="info__item info__socials">
            @include('./socials.html')
        </div>
    </div>
</div>