<div class="lang">
    <div class="lang-toggle">
        <span class="lang__icon square--24">
            <svg class="lang__icon-svg w-h-100">
                <use xlink:href="./assets/icons/sprite-svg.svg#globe"/>
            </svg>
        </span>
        <span class="lang__name">
            Русский
        </span>
        <span class="lang__icon square--24">
            <svg class="lang__icon w-h-100">
                <use xlink:href="./assets/icons/sprite-svg.svg#arrow-down"/>
            </svg>
        </span>
    </div>
    <ul class="lang-menu">
        <li class="lang-list"><a href="#">ru</a></li>
        <li class="lang-list"><a href="#">eng</a></li>
        <li class="lang-list"><a href="#">uzb</a></li>
    </ul>
</div>