.label {
  color: inherit;

  &__input {
    color: inherit;

    &_text {
      display: flex;
      padding: 21px 30px;
      align-items: center;
      align-self: stretch;
      border-radius: 30px;
      background: $white;
      color: inherit;
    }
  }
}

.input {
  outline: none;
  border: 0;
  color: inherit;

  &_text {
    color: inherit;
  }

  &_checkbox {
    color: inherit;
  }
}