.header {
  //background: $main-color;
  //max-height: 75px;
  //display: flex;
  //justify-content: space-between;

  &__container{
    width: 100%;
    min-height: 154px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  &__logo {
    width: 252.303px;
    height: 68px;
    margin-bottom: 24px;
  }
  &__nav{
    width: 100%;
    max-width: 1030px;
    align-items: center;
    display: flex;
  }

}