<footer class="footer">
    <div class="footer__block container">
        <div class="footer__left footer__company">
            <div class="footer__company__logo header__logo">
                <svg class="footer__company__logo-svg header__logo-svg w-h-100">
                    <use xlink:href="./assets/icons/sprite-svg.svg#logo-white"/>
                </svg>
            </div>
            <div class="footer__company__title">
                Вас обслуживает OOO “uStudent Consult”
            </div>
            <div class="footer__company__inc">
                <svg class="footer__company__inc-svg square--18">
                    <use xlink:href="./assets/icons/sprite-svg.svg#inc"/>
                </svg>
                Все права защищены - 2023
            </div>
        </div>
        <div class="footer__right">
            <div class="footer__nav">
                @include('../components/nav.html')
            </div>
            <div class="footer__info">
                <div class="footer__info__item info__location">
                    @include('../components/tmp_info.html', {
                    "icon": "location",
                    "desc": "г. Ташкент, улица Навоий, 65"
                    })
                </div>
                <div class="footer__info__item info__phone">
                    @include('../components/tmp_info.html', {
                    "icon": "phone",
                    "desc": "+998 90 000 11 22"
                    })
                </div>
                <div class="footer__info__item info__location">
                    @include('../components/tmp_info.html', {
                    "icon": "mail",
                    "desc": "info@ustudent.uz"
                    })
                </div>
            </div>
            <div class="footer__socials">
                <div class="footer__socials__title">Мы в соц сетях</div>
                @include('../components/socials.html')
            </div>
        </div>
    </div>
</footer>