<header class="header">
    @include('../components/info.html')
    <div class="header__container container">
        <div class="header__logo">
            <svg class="header__logo-svg w-h-100">
                <use xlink:href="./assets/icons/sprite-svg.svg#logo"/>
            </svg>
        </div>
        <div class="header__nav">
            @include('../components/nav.html')
        </div>
        <div class="header__lang">
            @include('../components/lang.html')
        </div>
    </div>
</header>