@import '_vars';
@import '_mixins';

.main-container {
  margin-left: auto;
  margin-right: auto;
}

// .max-width,
// .max-width-content {
//     padding-left: 20px;
//     padding-right: 20px;
// }

//.max-width {
//    max-width: 1140px;
//}

.container {
  width: 100%;
  max-width: $container;
  margin: 0 auto;
}

.theme {
  &--inherit {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-transform: inherit;
  }
}

.inherit {

}

.w-h-100 {
  width: 100%;
  height: 100%;
}

.square {
  &--18 {
    width: 18px;
    height: 18px;
  }

  &--20 {
    width: 20px;
    height: 20px;
  }

  &--24 {
    width: 24px;
    height: 24px;
  }

  &--31 {
    width: 31px;
    height: 31px;
  }

  &--32 {
    width: 32px;
    height: 32px;
  }

  &--64 {
    width: 64px;
    height: 64px;
  }

  &--80 {
    width: 80px;
    height: 80px;
  }

  &--116 {
    width: 116px;
    height: 116px;
  }
}

.size {
  &_max {
    font-size: $size-max;
  }

  &_min {
    font-size: $size-min;
  }

  &_x {
    font-size: $size-x
  }

  &_xx {
    font-size: $size-xx
  }

  &_3x {
    font-size: $size-3x
  }

  &_4x {
    font-size: $size-4x
  }

  &_5x {
    font-size: $size-5x
  }

  &_6x {
    font-size: $size-6x
  }

  &_7x {
    font-size: $size-7x
  }
}

.text {
  &_normal {
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &_normal-bold {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &_light-bold {
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &_bold {
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.title {
  &_normal {
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &_normal-bold {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &_light-bold {
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &_bold {
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.weight {
  &_normal {
    font-weight: 600;
  }

  &_normal-bold {
    font-weight: 600;
  }

  &_light-bold {
    font-weight: 600;
  }

  &_bold {
    font-weight: 600;
  }
}

.lh {
  &_max {
    line-height: $size-max;
  }

  &_min {
    line-height: $size-min;
  }

  &_x {
    line-height: $size-x
  }

  &_xx {
    line-height: $size-xx
  }

  &_3x {
    line-height: $size-3x
  }

  &_4x {
    line-height: $size-4x
  }

  &_5x {
    line-height: $size-5x
  }

  &_5xx {
    line-height: $size-5xx
  }

  &_6x {
    line-height: $size-6x
  }

  &_7x {
    line-height: $size-7x
  }
}

.color {
  &_logo {
    color: $logo-color;
  }
}

//$size-min: 14px;
//$size-max: 64px;
//
//$size-x: 16px;
//$size-xx: 18px;
//$size-3x: 20px;
//$size-4x: 24px;
//$size-5x: 32px;
//$size-6x: 36px;
//$size-7x: 48px;

//.max-width-content {
//  max-width: 1140px;
//}

// .section {
//     padding-top: 120px;
// }

// .scroll-lock {
//     position: fixed;
//     right: 0;
//     left: 0;
//     overflow: hidden;
// }

.hidden {
  display: none;
}

a {
  color: inherit;
}

.title-reset {
  margin: 0;
}

.link-reset {
  text-decoration: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// .wow {
//     visibility: hidden;
// }

// .dev {
//     display: flex;
//     flex-wrap: wrap;
//     align-items: center;
//     padding: 20px;

//     &__box-title {
//         width: 100%;
//         margin-bottom: 20px;
//     }

//     &__title {
//         text-transform: uppercase;
//         font-weight: 500;
//         letter-spacing: 1px;
//     }

//     &__box {
//         margin: 50px;
//     }

//     &__link {
//         position: relative;
//         font-size: 20px;
//         border-bottom: 1px solid;
//         border-bottom-color: transparent;
//         padding-left: 35px;
//         transition: border-bottom $transition-time;

//         &:hover {
//             border-bottom-color: blue;
//         }

//         &.desktop {
//             &::before {
//                 content: '✔';
//                 position: absolute;
//                 left: 0;
//                 top: 0;
//             }
//         }

//         &.mobile {
//             &::after {
//                 content: '✔';
//                 position: absolute;
//                 left: 10px;
//                 top: 0;
//             }
//         }
//     }

//     &--links {
//         flex-direction: column;
//         align-items: flex-start;

//         .dev {
//             &__box {
//                 margin: 15px 0;
//             }
//         }
//     }
// }