@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ibm/IBMPlexSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/ibm/IBMPlexSans-Medium.ttf") format("truetype");
}

@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/ibm/IBMPlexSans-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ibm/IBMPlexSans-Bold.ttf") format("truetype");
}