// Colors

$main-color: #222222;

$white: #FFF;
$light-back: #F1F4F6;
$line-color: #C3D1DC;
$border-color: #5C6780;

$dark-blue: #2C3A5A;
$dark-black: #0E172A;

$logo-color: #F87B80;
$fade-black: #000000;

$gray: #787E82;

// $color-1: #222222;


// Fonts

$main-font: 'IBM Plex Sans';
;

// Other

$transition-time: 0.3s;


// Sizes
//$maxWidth: 1920px;
$maxWidth: 1620;
$maxWidthContainer: 1620;
$container: 1620px;

$size-min: 14px;
$size-max: 64px;

$size-x: 16px;
$size-xx: 18px;
$size-xxx: 19.6px;
$size-3x: 20px;
$size-4x: 24px;
$size-4xx: 27px;
$size-4xxx: 30px;
$size-5x: 32px;
$size-5xx: 34px;
$size-6x: 36px;
$size-6xxx: 40px;
$size-7x: 48px;
$size-8x: 54px;
//$size-8x: 54px;
$size-9x: 96px;

$weight-normal: 400;
$weight-normal-bold: 500;
$weight-light-bold: 600;
$weight-bold: 700;
