@import './fonts';
@import './vars';
@import './mixins';
@import './settings';
@import './classes';

@import './parts/sections/submission';
@import './parts/sections/working';
@import './parts/sections/faq';
@import './parts/sections/our-service';
@import './parts/sections/question';
@import './parts/sections/our-advantages';

* {
  box-sizing: border-box;
  font-family: $main-font, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2em;
  color: $main-color;
}

html,
body {
  width: 100%;
}

ul {
  padding: 0;
}

ol, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* list-style-type */
.lst {
  &_ul {
    &--default {
      padding-left: 30px;

      & ol, li {
        list-style-type: disc;
      }
    }
  }

  &_cirlce {
    list-style-type: circle;
  }

  &_disc {
    list-style-type: disc;
  }
}

a {
  text-decoration: none;
}

.line {
  padding: 100px 0;

  &__item {
    max-width: 1346px;
    display: block;
    height: 2px;
    background-color: $line-color;
    margin: 0 auto;
  }
}

.bg {
  &_cover {
    background-position: center center !important;
    background-size: cover !important;
  }
}

/* sections */
.section {
  &--information-banner {
    background: linear-gradient(0deg, rgba(10, 13, 20, 0.80) 0%, rgba(10, 13, 20, 0.80) 100%), url('https://static.r-express.ru/images/AdobeStock_245480959.jpeg'), lightgray 0.004px -542.288px / 100% 289.16% no-repeat;
  }

  .popular-countries {
    padding: 100px 0;
  }
}

.available-countries {
  padding: 100px 0;
}


 //
 //.wrapper-page {
 //    display: flex;
 //    flex-direction: column;
 //    min-height: 100vh;
 //    color: $main-color;
 //    background-color: $color-1;
 //}

@import './parts/pages';
@import './parts/layouts';
@import './parts/components';
@import './parts/ui';

@import './libs';

@import './media';